<!DOCTYPE html>
<html>
<head>
	<title>Galaxies</title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
	<h1>HERE ARE THE SPLENDORS OF THE GALAXIES</h1>
		{{#each galaxies}}
			{{this}}<br>
		{{/each}}
</body>
</html>